$font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$color: green;

/* IDs */
#active {
    background-color: rgba(160, 108, 12, 0.671);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: 1.5px solid rgba(22, 94, 15, 0.658); /* Green */
}

#linkbutton {
    color: white
}

/* Classes */
.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Elements */
html {
    /* font-family: $font; */
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

h1 {
    /* font-family: $font; */
    text-align: center;
    font-size: 2.5rem;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 1;
    margin-bottom: 1rem;
}

table {
    margin: 10px;
    border-collapse: collapse;
}
  
table, th, td {
    border: 1px solid black;
    text-align: left;
    vertical-align: top;
    padding: 10px;
}

th {
    padding: 15px
}

tr {
    :hover {background-color: #f5f5f5;}
}

button {
    background-color: rgba(0, 0, 0, 0.253);
    border: none;
    color: white;
/*     padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    height: 70px;
}

ul {
    font-size: 14px;
    color: $color;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    list-style-position: outside;
}

ol {
    font-size: 18px;
    color: $color;
    list-style-position: inside;
}
